@import "./utils/variables.scss";
@import "./utils/mixins.scss";

.card {
    @include card-size;
    margin-bottom: 16px;
    position: relative;
    @media (max-width: $breakpoint-L) {
      width: 335px;
      height: 255px;
      margin: 0;
    }
  
    &_cover {
      position: relative;
      @include full-width;
      height: 100%;
      object-fit: cover;
      @include card-radius;
    }

    &_gradient{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        @include full-width;
        height: 100%;
        @include card-radius;
        position: relative;
        bottom: 344px;

        @media (max-width: $breakpoint-L) {
            bottom: 259px;
        
        }
    }
  
    &_title {
      position: absolute;
      color:$secondary-color;
      font-size: 18px;
      font-weight: 600;
      @include position-title-card;

      @media (max-width: $breakpoint-L) {
       font-size: 12px; 
      }
      
    }
  }
  