@import "./utils/variables.scss";
@import "./utils/mixins.scss";

.collapse{
    margin-top: 40px;

    @media (max-width: $breakpoint-tab){
        margin:25px;
        
    }
    &_header{
        display: flex;
        @include flexLayout;
        background-color: $primary-color;
        color: $secondary-color; 
        margin: 20px 30px;
        border-radius: 5px;
        height: 35px;
        padding: 0 10px;
        @media (max-width: $breakpoint-tab){
            margin: 0;
        }
    }

    &_content{
        margin: 20px 30px;
        color: $primary-color;
        background-color: $secondary-color;
        font-size: 14px;
        padding: 0 10px;
    }

}
