@import "./utils/variables.scss";
@import "./utils/mixins.scss";




.collapse {
    @include full-width;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-tab) {
        margin :0;
    }

    &_header {
        @include flexLayout;
        background-color: $primary-color;
        color: $secondary-color;
        margin: 20px 50px 0 50px;
        border-radius: 5px;
        padding: 0 10px;
        height: 35px;
        @media (max-width: $breakpoint-tab) {
            margin: 0 10px;
        }
        .arrow {
            transition: transform 0.5s ease;
        }
    
        &.open .arrow {
            transform: rotate(-90deg);
        }
    
        &.closed .arrow {
            transform: rotate(0deg);
        }
    }

    &_content {
        margin: 0px 50px 20px 50px;
        color: $primary-color;
        background-color: $gallery-background-color;
        font-size: 16px;
        font-weight: 600;
        @include vertical-centered;
        transform-origin: top; 
        @include card-radius;
        @media (max-width: $breakpoint-tab) {
            margin: 0 10px 10px;
            
        }

        &.show {
            animation: expand 0.4s ease-in-out;
            
        }

        &.hidden {
            animation: reduce 0.4s ease-in-out ;
            
        }
    }

}


@keyframes expand {
    0% {
        transform: scaleY(0); 
        opacity: 0;

    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes reduce{
    0% {
        transform: scaleY(1);
        opacity: 1;
      
    }

    100% {
        transform: scaleY(0);
        opacity: 0;
       

        
    }
}


/* class pour gérer l'affichage et la responsivité */

.collapse_lodging{
    display: flex;
    @include full-width;
    @media (max-width: $breakpoint-tab) {
        flex-direction: column;
        margin: 0;
    }
    
}

.collapse_detailsEquipements{
    display: flex;
    flex-direction: column;
}

