@import "./utils/variables.scss";
@import "./utils/mixins.scss";

.header{
    @include flexLayout;
    height: 68px;
    margin:50px;

    &_navbar{
        @include flexLayout;
        gap: 57px;
        height: 34px;
    }
        &_homepage_link {
            color: $primary-color;
            text-align: right;
            font-size: 24px;
            font-weight: 600;
            
            @media (max-width: $breakpoint-tab){
            font-size: 12px;
        }
        }
            &_homepage_link:hover{
                text-decoration-line: underline;
            }
}