@import "./utils/variables.scss";
@import "./utils/mixins.scss";

.star_rating{
    color:$primary-color;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    gap: 10px;
    @media (max-width: $breakpoint-tab) {
        @include full-width;
        justify-content: flex-start;
        font-size: 14px;
        gap: 5px;
    }
}
 
.empty_star {
    color: $emptystar-color;
}
  